{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"],
  "rules": {
    "arrow-body-style": "warn",
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "no-return-assign": "off",
    "no-use-before-define": "off"
  }
}
